################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/DevCampExternalToolDemo/obj
/DevCampExternalToolDemo/DevCampExternalToolDemo.csproj.user
/DevCampExternalToolDemo/bin/Debug/net6.0-windows
