################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/DevCampExternalToolDemo/bin
/DevCampExternalToolDemo/obj
/DevCampExternalToolDemo/*.csproj.user
